<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" />
    <title><%=title %></title>
    <style>
      h1 {
        font-size: 18px;
        background-color: #eaeaea;
      }
    </style>
  </head>
  <body>
    <header>
      <h1 id="h1"><%=title %></h1>
    </header>
    <div>
      <p><%-content %></p>
      <ul>
        <li><a href="/">トップページへ</a></li>
      </ul>
    </div>
  </body>
</html>
